@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to top, #916b20f2 ,#E4B03C );
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

img{
  min-height: 100px;
  min-width: 75px;
  height: 300px;
  padding: 5px 5px 5px 5px;
  border-radius: 1em 1em 1em 1em ;
  width: 240px;
}

div{
  margin: 25% auto;
  border: 1px, solid, black;
  min-height: 100px;
  min-width: 75px;
  height: 405px;
  width: 250px;
  border-radius: 1em;
  box-shadow: 0px 0px 13px 2px #4b4b4ba3;
  background-color: #d58a3e46;
}

div > p{
  text-align: justify;
  padding: 10px 10px 10px 10px;
  margin-top: -3px;
  font-size: 99%;
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  color: white;
}

